= render partial: "shared/breadcrumbs", locals: { items: @document.category.parents.to_a + [@document.category] }

%h1
  = @document.title
%p
  = @document.description.html_safe

%a{href: @document.file_url, title: @document.title, class: "pure-button pure-button-primary"}
  = "Скачать образец "

.app-document
  .app-document-preview
    %blockquote
      = @document.html&.html_safe
  .app-document-sidebar
    %h2
      похожие документы

    = render partial: "shared/same_documents", locals: { documents: @document.same_documents }