= render partial: "shared/breadcrumbs", locals: { items: @document.category.parents_with_self }

.container-fluid
  %h1.card-title
    = @document.title
  %p
    = @document.description.html_safe
  %a{href: @document.file_url, title: @document.title, class: "btn btn-primary"}
    = "Скачать образец"
  %br
  %br
  .row
    - if @document.html.present?
      .col-md-8
        .card.mb-4
          -#%img.card-img-top{:alt => "Card image cap", :src => "http://placehold.it/750x300"}/
          .card-body
            %p.card-text
              = @document.html&.html_safe

    / Sidebar Widgets Column
    .col-md-4
      .card.mb-4
        %h3.card-header похожие документы
        .card-body
          = render partial: "shared/same_documents", locals: { documents: @document.same_documents }
