!!!
%html
  %head
    %title Образцы документов
    = csrf_meta_tags
    = csp_meta_tag
    = render partial: "shared/meta"
    = stylesheet_link_tag 'application', media: 'all'
    = display_meta_tags site: 'Образцы документов'
  %body
    .d-flex.app
      .app-container
        = render partial: "shared/mobile_nav"
        = yield
  = render partial: "shared/footer"
  = javascript_include_tag 'application'

  :javascript
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $(".app").toggleClass("app-mobile");
    });