!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Образцы документов
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = display_meta_tags site: 'Образцы документов'
  %body
    .d-flex.app
      .app-container
        = render partial: "shared/mobile_nav"
        = yield

  = javascript_include_tag 'application'

  :javascript
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $(".app").toggleClass("app-mobile");
    });